body{
    background-color: whitesmoke;
    display: grid;
    grid-template-rows: 1fr auto;
    margin: 0;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

h2{
    text-align: center;
    color: black;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    top: 30px;
}
form{
    display: grid;
    text-align: center;
    width: 400px;
    background-color: black;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0.2);
    padding: 20px;
    top: 30px;
    position: relative;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"]{
    background-color: rgb(27, 27, 27);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    border: none;
    transition: 0.3s;
}

input[type="submit"]:hover{
    background-color: white;
    color: black;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}

